*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ffaf40; */
    background: #2F7336;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #AA3A38, #2F7336);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #AA3A38, #2F7336); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background-image:  url(/socialMediaIcons/background.gif); */
}

.container{
    height: 80%;
    width: 60%;
}

.img{
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.signupBox{
    /* border: 2px solid; */
    position:fixed;
    top: 10%;
    left: 20%;
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content:space-evenly;
    opacity: 1;
}

.welcome{
    /* border: 2px solid; */
    opacity: 1;
    position:fixed;
    top: 60%;
    left: 50%;
    height: 30%;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.text{
    font-size: 27px;
    font-weight: bold;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items:center;
}




.signupBox *{
    width: 80%;
}

.checkBox{
    /* width: 100%; */
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    
}

.check{
    height: 1rem;
    width: 1rem;
}

.name,.mail,.contect,.password,.confirmPassword,.nextBtn{
    height: 6%;
    outline: none;
}

.address,.city,.country{
    outline: none;

}

.space{
    height: 7%;
}

.nextBtn{
    background-color:#5e412f ;
    font-size: 18px;
    font-weight: bold;
    color: #ebefc9;
    width: 40%;
}

.welcomeTitle,.desk{
    color:#0e2430 ;
    font-size: 25px;
    font-weight: bold;
}

.des{
    font-size:20px;
    text-align: center;
    
}

p{
    font-size: 15px;
}


@media (max-width:760px) {
    .welcomeTitle,.desk{
        color:#0e2430 ;
        font-size: 20px;
        font-weight: bold;
    }
    
    .des{
        font-size:15px;
        text-align: center;
        
    }
    p{
        font-size: 12px;
    }
}

@media (max-width:560px) {
    .welcomeTitle,.desk{
        color:#0e2430 ;
        font-size: 15px;
        font-weight: bold;
    }
    
    .des{
        font-size:10px;
        text-align: center;
        
    }
    p{
        font-size: 10px;
    }
}

@media (max-width:400px) {
    .welcomeTitle,.desk{
        color:#0e2430 ;
        font-size: 12px;
        font-weight: bold;
    }
    
    .des{
        font-size:8px;
        text-align: center;
        
    }
    .text{
        font-size: 15px;
    }
    .nextBtn{
        font-size: 10px;
   }
   p{
    font-size: 7px;
}
}
